* {
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2, h3 {
    color: rgb(0, 100, 255);
}
a, ul {
    padding: 10 px;
    text-align: center;
    list-style: none;
    text-decoration: none;
    font-style: none;
    background-color: rgb(0, 204, 255);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}