body {
    color: white;
}
h1 {
    color: #DC143C;
    text-align: center;
}
h2 {
    color: #DC143C;
}
h3 {
    border: 1px;
    background-color: gray;
    color: black
}
p {
    color: black;
}